body {
  font-family: 'Poppins', sans-serif;
  background-color: #E8E9EC;
  padding: 0px;
  margin: 0px;
}
header{
  background-color: #8fc4d8;
  width: 100%;
  position: relative;
  left: -10px;
  top: -21px;
  height: 150px;
  width: 100%;
}
header h1 a{
  color: #033382;
  text-decoration: none;
}
nav a{
  font-size: 1.2em;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  min-width: 100px;
  color: #0a9023;
  padding: 8px;
  margin: 8px;
}
header nav{
  display: block;
  text-align: center;
  height: 40px;
}
div.annonce + div.annonce{
  clear: left;
}
header h1 {
    text-align: center;
    padding-top: 10px;
}
header nav a:hover{
  border-radius: 40px;
  background-color: #F7EA63;
  color: black;
}
header .compte {
  position: absolute;
  top: 5px;
  right: 5px;
}
input[type="submit"]{cursor: pointer;}
.go_top{
  position: fixed;
  bottom: 50px;
  right: 50px;
}
.search{
  margin: auto;
  width: 1600px;
  height: 200px;
  margin-top: 200px;
  text-align: center;
}
.search input {
  border-radius: 50px;
  width: 300px;
  height: 30px;
  font-size: 1.2em;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.search input[type='text']:focus{
  border-radius: 50px;
  border: outset #0a9023 2px;;
}
.Ou {
  float: left;
}
.search form{
  display: inline-block;
  width: 1100px;
  margin: auto;
}
.search label{
  position: absolute;
  left: 6px;
}
.container {
  width: 300px;
  height: 118px;
  float: left;
  display: block;
  margin-left: 50px;
  position: relative;
}
input.chercher {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.chercher {
  border-radius: 50px;
  background-color: #FFFFFF;
  color: #0a9023;
}
.chercher:hover{
  border: 1px inset;
  background-image: linear-gradient(to right, #0a9023, #38bc51);
  color: #FFFFFF;
  box-shadow: -10px 0px 10px 1px #aaaaaa;
}
.inscription{
  width: 800px;
  margin: auto;
  margin-top: 200px;
  height: 250px;
  background-image: linear-gradient(to bottom, #0a9023, #38bc51);
  border: outset;
  border-radius: 10px;
  position: relative;
}
.inscription form{
  height: 250px;
}

.inscription fieldset {
  height: 120px;
  width: 700px;
  position: relative;
}
.inscription fieldset > input{
  position: absolute;
  left: 120px;
  height: 12px;
  font-size: 0.8em;
}
.inscription input {
  height: 10px;
  color: #0a9023;
}
.inscription fieldset > label{
  position: absolute;
  left: 20px;
}
.inscription input{
  width: 120px;
  position: absolute;
  left: 200px;
}
.inscription >form > label{
  position: absolute;
  left: 20px;
}
.inscription > form > input[id]{
  position: absolute;
  left: 350px;
}
.inscription input[type='submit']{
  position: absolute;
  left: 600px;
  bottom: 70px;
  border-radius: 15px;
  margin-top: 20px;
  height: 30px;
  width: 150px;

}
.inscription input[type='submit']:hover{
  background-color: #F7EA63;
  color: #000000;
  border-style: inset;
}
.login{
  margin: auto;
  width: 1200px;
  height: 500px;
  text-align: center;
  margin-top: 100px;
  background-image: linear-gradient(to right, #F7EA63, #8fc4d8);
  border: solid 5px #FFFFFF;
  border-radius: 10px;
}
.login *{
  margin-top: 40px;
}
.login input[type='password'], .login input[type='email']{
  border-radius: 10px;
}
.filtre {
  width: 50%;
  padding-left: 20px;
}

.res_search{
  float: right;
  width: 50%;
}
.filtre ul{
  list-style-type: none;
}
ul > li > ul{
  list-style: none;
  background-image: radial-gradient(circle, #8fc4d8, white);
}
.esapce_entreprise > div{
  display: inline-block;
  margin: 10px;
  padding: 8px;
  float: left;
  border: 1px solid black;
  border-radius: 3px;
  background-color: white;
}
.ajoutAnnonce{
  width: 600px;
  margin: auto;
  margin-top: 100px;
  padding: 10px;
  background-image: radial-gradient(circle, white, #8fc4d8);
  border: 5px solid white;
  border-radius: 10px;
  text-align: center;
}
.ajoutAnnonce *{
  margin: 5px;
}
.ajoutAnnonce input, .ajoutAnnonce select{
  color: #0a9023;
  width: 120px;
  border-radius: 50px;

}
.ajoutAnnonce input[type="text"]{
  width: 200px;
}
.bouton_ajout_annonce:hover{
  background-color: #0a9023;
  color: white;
}
.center{
  text-align: center;
}
small{
  color: #27292b;
  font-size: 0.8em;
}
.inscription_entr{
  width: 800px;
  margin: auto;
  margin-top: 200px;
  height: 250px;
  background-image: radial-gradient(circle, white, #8fc4d8);
  border: solid white 5px;
  border-radius: 10px;
  position: relative;
}
.inscription_entr form *{
  position: absolute;
}
.inscription_entr input{
  color: #0a9023;
}
.inscription_entr input#name{
  top: 5px;
  left: 220px;
}
.inscription_entr label[for="name"]{
  top: 5px;
  left: 10px;
}
.inscription_entr input[type="submit"]{
  right: 20px;
  bottom: 20px;
  border-radius: 15px;
  height: 30px;
  width: 150px;
}
.inscription_entr input[type="submit"]:hover{
  background-color: #F7EA63;
  color: #000000;
}
.inscription_entr input#email{
  top: 50px;
  left: 220px;
}
.inscription_entr input#password{
  top: 95px;
  left: 220px;
}
.inscription_entr label[for='name']{
  top: 5px;
  left: 5px;
}
.inscription_entr label[for='email']{
  left: 5px;
  top: 50px;
}
.inscription_entr label[for='password']{
  left: 5px;
  top: 95px;
}
.inscription_entr small{
  top: 8px;
  left: 500px;
}
